/* Reset CSS para asegurar la consistencia entre navegadores */
@import url('reset.css');

/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

.logo {
    width: 150px;
    display: block;
    margin: 0 auto;
}

.main {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
}

.campoTexto, .mensaje {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    resize: none;
}

.botones {
    text-align: center;
}

button {
    margin top: 10px;
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.btnEncriptar {
    background-color: #5cb85c;
    color: white;
}

.btnEncriptar:hover {
    background-color: #333;
}

.btnDesencriptar {
    background-color: #f0ad4e;
    color: white;
}

.btnDesencriptar:hover {
    background-color: #333;
}

.btnCopiar {
    background-color: #337ab7;
    color: white;
}

.btnCopiar:hover {
    background-color: #333;
}

.btnLimpiar {
    background-color: #d9534f;
    color: white;
}

.btnLimpiar:hover {
    background-color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

.socialMedia img {
    width: 30px;
    margin: 0 10px;
}

.socialMedia:hover {
    transition: transform .2s;
    transform: scale(1.5);
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .campoTexto, .mensaje {
        margin-bottom: 10px;
    }

    button {
        padding: 10px;
        margin: 5px 2px;
    }
}
